body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://www.freepik.com/free-vector/watercolor-background_6229778.htm#page=1&query=background&position=2);
  background-repeat: no-repeat;
  background-size: cover;
}
